*.drawio
.ruff_cache
menv
.python-version
.vscode/*
__pycache__/
prompts/__pycache__/
# Node.js の標準無視リスト
node_modules/
npm-debug.log
yarn-error.log
.DS_Store

# Husky の一時ファイル
.husky-*
.husky/*
.husky/_/
!.husky/commit-msg
!.husky/pre-commit
